<script>
  function loadXMLDoc()
  {


    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
      {
        document.getElementById("myDiv1").innerHTML=xmlhttp.responseText;
      }
    }
    xmlhttp.open("GET","counter_request",true);
    xmlhttp.send();
    setTimeout("loadXMLDoc()", 1000);
  }

  function confirm(order)
  {
    //alert(order);

    $.ajax({
      type: "GET",
      url: "/counter_orders/update",

      data: {
        'id' : order
        
      }

    });


  }
  function confirm_all(counter)
  {
    //alert(order);

    $.ajax({
      type: "GET",
      url: "/counter_orders/update_all",

      data: {
    'counter' : counter
      }

    });


  }


</script>

<div id="myDiv">
  <div class="page-header" style="background-color:#999999;">
    <h1 style="text-align:left;">Bakery Counter Resquest To Kitchen</h1>
     
  </div>
 <div id="myDiv1">

 </div>
</div>
