
<%#= form_for :card, {:url=>"/orders/create  "} do |f| %>
<%=hidden_field_tag "sum",@total%>
  SWIPE CARD NUMBER:<%=text_field_tag "card_no"%>
  <button type="button"  class="btn" onClick="confirmation()">Ok</button>

  <%#= f.submit %>
<% #end %>