<div class="page-header" style="margin-top: 10px;">
  <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Counters</h1>
</div>
<div class="settings_buttons">
  <%=link_to "Main Counter",'/counters/main_counter',:class=>"jbtn"%>
  <%=link_to "Other Counter",'/counters/other_counter',:class=>"jbtn"%>
</div>

