

<div id="myDiv">
  <div class="page-header"style="margin-top: 10px;">
    <h1 style="text-align:left;color:#81b886;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Counter</h1>
  </div>
  <div style="width: 600px;height:800px; background-color:white;margin-bottom: 50px;float: left;margin-left: 30px;overflow: scroll;">
    <table class="table table-bordered">
      <tr style="background-color:blanchedalmond; ">
      <div>
        <%= form_tag '/counters/counter_items' %>
        <%= hidden_field_tag :id %>
        <%= select :counter, :counter_id, @counters.collect {|c| [c.name, c.id]}, { :prompt => 'Select counter' }%>
        &nbsp;&nbsp;<%= submit_tag "Go!", :class => 'btn-large btn-primary'%>
      </div>
      </tr>
    </table>
  </div>
  </div>



