<style>

  .jbtn-success{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb65b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
    background-color: #51a351;
    /*Darken IE7 buttons by default so they stand out more given they won't have borders
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
    }
</style>

<div id="myDiv">
  <div class="page-header"style="margin-top: 10px;">
    <h1 style="text-align:left;color:#81b886;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Counter</h1>
  </div>
  
      <div>
        <%=link_to "Indian",{:controller=>'counters',:action=>'indian'},:class=>'jbtn jbtn-success'%>
        <%=link_to "Cocktails",{:controller=>'counters',:action=>'cocktail'},:class=>' jbtn jbtn-success'%>
        <%=link_to "Bakery",{:controller=>'counters',:action=>'bakery'},:class=>'jbtn jbtn-success'%>
      </div>
      
 
  </div>



