<div class="page-header" margin-top: 10px;>
  <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Check Inventory</h1>
</div>
<div class="settings_buttons" style ="width: 100%;">
  <%=link_to "Stock List",'/stock_list_items/show',:class=>"jbtn"%>
  <%=link_to "Delivered Items",'/delivery_items/new',:class=>"jbtn"%>
  <%=link_to "Remaining Items",'/remaining_items/new',:class=>"jbtn"%>
  <%=link_to "Remaining Stock",'/remaining_stocks/show',:class=>"jbtn"%>
</div>
<%#*Required AJAX code here....%>
<div class ="main_div">
  <p></p>
</div>


    