<div class="page-header" style="margin-top: 10px;">
  <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">HR</h1>
</div>
<div class="settings_buttons" style ="width: 100%">
  <%= link_to "Employees", '/employees/show', :class => "jbtn"%>
  <%= link_to "Attendance", '/attendances/index', :class => "jbtn"%>
  <%= link_to "Payroll", "/salaries/index", :class => "jbtn"%>
</div>
<%#*Required AJAX code here..%>
<div class ="main_div">
  <p></p>
</div>