<div class="page-header" style="margin-top:10px;">
  <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Main Menu</h1>
</div>
<div class="settings_buttons" style ="width: 100%;">
  <%=link_to "Categories",'/categories/show',:class=>'jbtn'%>
  <%=link_to "Items",'/items/show',:class=>'jbtn'%>
  <%#=link_to "Counters",'/counters/show',:class=>'jbtn'%>
  <%=link_to "Kitchens", '/kitchens/display', :class=>'jbtn'%>
  <%=link_to "Tax", '/taxes/show',:class=>'jbtn'%>
</div>
<%#*Required AJAX here....%>
<div class ="main_div">
  <p></p>
</div>