<div class="page-header" style="margin-top: 10px;">
  <h1 style="text-align:left;color:whitesmoke;font-variant:small-caps;font-family:fantasy;margin-left:20px;">Remaining Stock</h1>
</div>
<div style="width:800px;height:500px;background-color:white;margin:auto;border:3px solid #333333;border-radius:6px;overflow:scroll;">
<table class="table table-striped table-bordered">
  <tr>
    <th id="table_header">S.NO</th>
    <th id="table_header">Item Name</th>
    <%#*<th id="table_header">Category</th>%>
    <th id="table_header">Stock Qty</th>
  </tr>
  <%@i=0%>
<% @stock_list_items.each do |s| %>
  <tr>
    <td><%@i+=1%><%=@i%></td>
    <td><%=s.name%></td>
    <%# @item = Item.find_by_id(s.id) %>
    <%# @category = Category.find_by_id(@item.category_id) %>
    <%#*<td><%= @category.name %>  </td>
    <%  @qty = s.delivery_items.sum(:quantity)-s.internal_orders.sum(:quantity) %>
    <td><%= @qty  %></td>
  </tr>
<%  end %>
</table>
    <br/>
    <%#=link_to_modal "Add New Category", {:controller=>'categories',:action=>'new'},:class=>"btn-large btn-success"%>
</div>


<%#  @stock_list_items.each do |s| %>
  <%#= s.delivery_items.sum(:quantity)-s.internal_orders.sum(:quantity) %>
  <%#= s.name %>
<%# end %>